<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!-- 配置 favicon.ico不进行安全拦截-->
    <security:http pattern="/favicon.ico" security="none" />
    <!-- 以下页面不被拦截 -->
    <security:http pattern="/*.html" security="none" />
    <security:http pattern="/css/**" security="none" />
    <security:http  pattern="/img/**" security="none" />
    <security:http pattern="/js/**" security="none" />
    <security:http pattern="/plugins/**" security="none" />
    <security:http pattern="/seller/add.do" security="none" />

    <!-- 页面拦截规则 -->
    <security:http use-expressions="false">
        <security:intercept-url pattern="/**" access="ROLE_SELLER" />
        <security:form-login login-page="/shoplogin.html"  default-target-url="/admin/index.html" authentication-failure-url="/shoplogin.html" always-use-default-target="true"/>
        <security:csrf disabled="true"/>
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>
        <security:logout />
    </security:http>

    <!-- 认证管理器 -->
    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="bCryptPasswordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>
    <!--自定义的认证器类-->
    <bean name="userDetailsService" class="com.offcn.shop.service.UserDetailsServiceImpl">
        <property name="sellerService" ref="sellerService"></property>
    </bean>
    <!--订阅Dubbo服务-->
    <dubbo:application name="youlexuan-shop-web"/>
    <dubbo:registry address="zookeeper://192.168.188.128:2181" />
    <dubbo:reference id="sellerService" interface="com.offcn.sellergoods.service.SellerService"/>
</beans>